# Node modules
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache
dist/
.vite/

# Local env files (si en algún momento los usas)
.env
.env.*

# Editor configs
*.swp
*.swo
*.idea/
.vscode/
.DS_Store
Thumbs.db
